.auction {
  background: url("/img/auctionBg.svg"),linear-gradient(180deg, #8F2525 0%, #C16C6C 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: calc(160px + (437 - 160) * ((100vw - 320px) / (1600 - 320)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  h2 {
    text-transform: uppercase;
  }
}